@charset "utf-8";

label {
  display: inline-block;
  width: 200px;
}
input {
  text-align: right;
}
#fixed {
  width: 100px;
  height: 100px;
  padding: 10px;
  position: fixed;
  right: 0;
  bottom: 0;
}
